<%- include('../partials/header') %>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Séries</h2>
            <p class="lead">Todas as séries cadastradas <a href="/series/nova" class="btn btn-info">Nova Série</a></p>
            <table class="table table-hover">
            <% JSON.stringify(results) %>
              <% results.data.forEach(serie => { %>
                  <tr>
                    <td>
                    <a href="/series/info/<%= serie._id %>" ><%= serie.name %></a>
                    </td>
                    <td>
                      <span class="badge badge-secondary"><%= labels.filter(label => label.id === serie.status) [0].name%></span>
                     
                    </td>
                    <td>
                      <a class="btn btn-primary" href="/series/editar/<%= serie._id %>">Editar</a>
                      <a class="btn btn-danger" href="/series/excluir/<%= serie._id %>">Excluir</a>
                    </td>
                  </tr>
              <% }) %>
              
            </table>

              <nav aria-label="Page navigation example">
                <ul class="pagination">
                <% if(results.pagination.currentPage > 0){ %>
                  <li class="page-item"><a class="page-link" href="/series?page=<%= results.pagination.currentPage - 1  %>&pageSize=<%= results.pagination.pageSize %>">Anterior</a></li>

                <% } %>  
                  <% for(let i = 0; i < results.pagination.pages; i ++){ %>
                  <li class="page-item <% if(i == results.pagination.currentPage){ %> active <% } %>"><a class="page-link" href="/series?page=<%= i %>&pageSize=<%= results.pagination.pageSize %>"><%= i + 1 %></a></li>
                  <% } %>
                   <% if(results.pagination.currentPage < results.pagination.pages -1){ %>
                  <li class="page-item"><a class="page-link" href="/series?page=<%= results.pagination.currentPage + 1%>&pageSize=<%= results.pagination.pageSize %>">Próximo</a></li>

                  <% } %>  
                </ul>
              </nav>

          </div>
        </div>
      </div>
    </section>
<%- include('../partials/footer') %>