<%- include('../partials/header') %>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <form method="post">
              <h2>Sobre Série: <%= serie.name %> </h2>
                <div class="form-group">
               Nova série: <%= serie.name %> 
  

              </div>
              <textarea class="form-control" name="comments"  cols="" rows=""></textarea>
              <input type="submit" class="btn btn-info" value="Adicionar Comentário" style="margin:5px 0 5px 0">
              <ul class="list-group"> 
              <% serie.comments.forEach(com =>{ %>
                <li class="list-group-item"><%= com %> </li>
              <% }) %>
              </ul>
              
            </form>
          </div>
        </div>
      </div>
    </section>
<%- include('../partials/footer') %>